* {
    padding: 10;
    margin: 10;
    box-sizing: border-box;

}

body {

    background-color: gold;
    height: 600px;
    width: 100%;
    margin: 10px 10px 10px 10px;
    background: linear-gradient(145deg, rgb(175, 160, 74) 1%, #ce6e83, rgb(137, 136, 134));
    box-shadow: 6px 6px 8px #0b0b0b, -6px -6px 10px #323232, inset 7px 7px 10px #000420, inset -7px -7px 10px #7e1771;

}

.container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 25px;
    background: linear-gradient(145deg, rgb(40, 40, 39) 1%, #6a6869, rgb(42, 42, 43));
    box-shadow: inset 5px 5px 8px rgb(51, 51, 53), inset -5px -5px 8px rgb(59, 59, 60);


}


@media (max-width:600px) {
    .container {
        width: 90%;
        height: 90%;
        margin: auto
    }
}

.output {
    width: 270px;
    height: 80px;
    text-align: end;
    padding: 5px;
    border-radius:40px;
    font-size: 30px;
    margin-bottom: 10px;
    background-color: gold;
    color: hwb(50 2% 96%);
    border: none;
    box-shadow: inset -5px -5px 12px gold,
        inset 5px 5px 12px gold;

}

.all-btn {
    display: grid;
    grid-template-columns: auto auto auto auto;


}

.all-btn button {
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: inset 5px 5px 8px #ffffff, inset -5px -5px 8px #ffffff;
    border: none;
    font-size: 25px;
    font-weight: bold;


}



.all-btn.plus {

    background-color: rgb(255, 0, 111);


}

.all-btn button:active {
    box-shadow: 0 0 10px #ff0008;
}

.all-btn .clr {
    grid-column: span 2;
    width: 110px;
    background-color: rgb(247, 12, 12);
    box-shadow: inset 5px 5px 8px rgb(247, 12, 12),
        inset -5px -5px 8px rgb(247, 12, 12);
      
}

.all-btn .plus {
    grid-row: span 2;
    height: 110px;
}

.all-btn .eql {
    background-color: gold;
    box-shadow: inset 5px 5px 8px gold,
        inset -5px -5px 8px gold;


}

.all-btn .plus {

    box-shadow: inset 5px 5px 8px hsl(247, 95%, 50%),
        inset -5px -5px 8px hsl(247, 95%, 50%);
    border-radius: 12px 0px 12px 0px;
    background-color: hsl(247, 95%, 50%);
}